/* Estilos globais para centralizar todo o conteúdo */
body,
html{
  height: 100%;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  
 /* Alterações de fundo */
  background-color: #895b4f;
  background-image: url(assets/wpp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* ___________________ */

  font-family: Helvetica;
  text-align: center;
}

body{
  background: rgba(255, 255, 255, 0);
}

.App{
  color: #fff;
}
/* Estilo para cada quadrado */
.square{
  width: 100px;
  height: 100px;
/* Alterações de cor */
  background-color: #7b473a;
  border: 1px solid #5f362c;
  border-radius: 5px;
/* ___________________ */
  font-size: 32px;
  font-weight: bold;
  text-align: center;

  vertical-align: middle;
  cursor: pointer;
}

/* Estilo para o vencedor */
.winner {
  background-color: #6e16ad;
  color: #fff;
}

/* Estilo para o status do jogo */
.status{
  margin: 20px 0;

  text-align: center;
  font-size: 24px;
  color: #fff;
}

/* Estilo para o botão de reiniciar */
.reset-button {
  margin-top: 20px;
  padding: 10px 20px;

  font-size: 18px;
  color: #fff;

  background-color: #ff0000;

  border: none;
  border-radius: 4px;

  cursor: pointer;
}

/* Estilo para o botão de reiniciar no hover */
.reset-button:hover {
  background-color: #d42954;
}